body {
border: 1px dotted red;
/* display: flexbox;
box-sizing: border-box; */
padding: 1em;
display: grid;
/* place-items: center */
}

.grid {
    display: grid;
    margin: auto;
    grid-template-columns: 25vw;
    grid-template-areas: "header header" "content content" "footer footer";
    
}

.top {
    grid-area: header;
    border: 2px solid blue;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.span--header01 {
    display: flex;
    align-items: center;
}

div.top>div>p {
    border: 2px dotted hotpink;
    margin-left: 5px;
    }

.span--header02 {
    display: flex;
    align-items: center;

}

/* .side {
    grid-area: sidebar;
    border: 2px solid peru;
    padding: 1em;
} */

.main {
    grid-area: content;
    border: 2px solid palevioletred;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.bottom {
    grid-area: footer;
    border: 2px solid green;
    padding: 1em;
}

div.main>p {
border: 2px dotted hotpink;
}

.span--main01 {
font-size: 2rem;
}

.span--main02 {
    font-size: 0.5rem;
}

.span--main03 {
    font-family: cursive;
}

.span--main04 {
color: deeppink;
}

.span--main05 {
    font-weight: 700;
}

div.bottom {
    display: flex;
    overflow: hidden;
}

div.bottom>span {
    border: 2px dotted hotpink;
    flex: 1 1 0%;
    }

.span--footer02 {
    margin-right: 5px;
    margin-left: 5px;
}
